canvas{
    border: 5px solid blue;
}

body{
    background-color: azure;
}

.size{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid #000;
    text-align: center;
}

#eraser{
    position: absolute;
    top: 40px;
    left: 525px;
    cursor: url('eraser.png'), auto;  
}

#pen{
    position: absolute;
    top: 10px;
    left: 525px;
    cursor: url('pen.png'), auto;   
}



div[value="pen"]:hover{
    cursor: url('pen.png'), auto;  
}

div[value="eraser"]:hover{
    cursor: url('eraser.png'), auto;  
}

div[value="text"]:hover{
    cursor: text;  
}

#text{
    position: absolute;
    top: 70px;
    left: 525px;
    cursor: text;
}

#rectangle{
    position: absolute;
    top: 100px;
    left: 525px;
    cursor: url('rectangle.png'), auto;
}

#circle{
    position: absolute;
    top: 130px;
    left: 525px;
    cursor: url('circle.png'), auto;
}

#triangle{
    position: absolute;
    top: 160px;
    left: 525px;
    cursor: url('triangle.png'), auto;
}

#reset{
    position: absolute;
    top: 500px;
    left: 525px;
    cursor: url('reset.png'), auto;
}

#download{
    position: absolute;
    top: 470px;
    left: 525px;
    cursor: url('download.png'), auto;
}

#upload{
    position: absolute;
    top: 525px;
    left: 350px;
    width: 170px;
    cursor: url('upload.png'), auto;
}

#undo{
    position: absolute;
    top: 410px;
    left: 525px;
    cursor: url('undo.png'), auto;
}

#redo{
    position: absolute;
    top: 440px;
    left: 525px;
    cursor: url('redo.png'), auto;
}

#wdsize{
    position: absolute;
    top: 480px;
    left: 740px;
    cursor: text;
}
#psize{
    position: absolute;
    top: 480px;
    left: 570px;
    cursor: text;
}


